#/etc/systemd/system/robot-camera.service 
[Unit]
Description=Robot Camera YOLO Service
After=network.target

[Service]
Type=simple
User=robo_coyote
WorkingDirectory=/home/robo_coyote/Documents/YOLO_test
# Using the python inside your venv
ExecStart=/home/robo_coyote/Documents/YOLO_test/.venv/bin/python -u /home/robo_coyote/Documents/YOLO_test/YOLO_prod.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
